<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Avalon" connectionString="Data Source=PSSQLNode03.pricespy.com\PSSQL09a;User ID=ProcessDev;Password=i25j%zm53c*r;database=avalon;Connection Reset=false;" providerName="System.Data.SqlClient"/>
    <remove name="LocalSqlServer" />
    <add connectionString="Application Name=PSWEB101_Admin;Data Source=PSSQLNode03.pricespy.com\PSSQL09a;User ID=iis2;Password=au08gw@b-2h4;database=ASPNetServices; Connection Reset=false" name="LocalSqlServer" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="myKey" value="04112697-58BA-45BC-8D80-B06D410E858E"/>
    <add key="dbConnectionString" value="server=PSSQLNode03.pricespy.com\PSSQL09a;User ID=ProcessDev;Password=i25j%zm53c*r;database=pricelister_dev;Connection Reset=FALSE"/>
    <add key="PSOPSConnectionString" value="server=PSSQLNode03.pricespy.com\PSSQL04a;User ID=processDev;Password=i25j%zm53c*r;database=PSOPS;Connection Reset=FALSE"/>
    <add key="IDADir" value="L:\Projects\PriceSpy\PLManager5\PLManager5\bin\debug"/>
    <add key="PLCommonLib.PLWS.PLWS" value="http://localhost/pricelisterws/plws.asmx"/>
    <add key="downloadIDA" value="false"/>
    <add key="IDAFileURL" value="http://data.pricespider.com/psws/internetdataaccess.dll"/>
    <add key="IPAddress" value="10.27.1.16"/>
    <!-- \\pricespy01\c$\pricelister\projects\plmanager5\bin\debug\internetdataaccess.dll -->
    <!-- http://data.pricespy.com/psws/internetdataaccess.dll-->
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="smtpserver" value="psexch04"/>
    <add key="PSOPAPIURL" value="https://xm.pricespy.com/api/v1"/>
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <system.web>
    <membership defaultProvider="AspNetSqlProvider">
      <providers>
        <clear />
        <add name="AspNetSqlProvider" type="System.Web.Security.SqlMembershipProvider" passwordFormat="Encrypted" applicationName="/"  connectionStringName="LocalSqlServer"  minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="2147483647"/>
      </providers>
    </membership>
    <roleManager enabled="true" cacheRolesInCookie="true" cookieName=".ASPXROLES" cookiePath="/" cookieTimeout="720" cookieRequireSSL="false" cookieSlidingExpiration="true" createPersistentCookie="true" cookieProtection="All" />
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.6.0" newVersion="3.1.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
