
<appSettings>
  <add key="myKey" value="04112697-58BA-45BC-8D80-B06D410E858E"/>
  <add key="parseDefinitionAgeThresholdMinutes" value="5"/>
  <add key="processID" value="bdeleon"/>
  <add key="maxAttemptsPerRetailerPerProduct" value="3"/>
  <add key="RFDASAP_QUEUE" value="FormatName:PRIVATE=4e2804a4-f985-4b8d-9b6a-be2cfaa54616\00000016" />
  <add key="RFPAM_QUEUE" value="FORMATNAME:PRIVATE=5f6ef143-b31d-40d5-8b70-108671670192\0000002f" />
  <add key="DBCONN" value="application name=AutoMatch;data source=PSSQLNode03.pricespy.com\PSSQL09a;initial catalog=pricelister_dev;persist security info=False;user id=iis2;pwd=i25j%zm53c*r;packet size=4096" />
  <add key="NotificationEmailFrom" value="notifications@pricelister.com"/>
  <add key="NotificationEmailSubject" value="Your Request for a Product AutoMatch is Complete!" />
  <add key="NotificationEmailBodyTemplateFile" value="c:\email_templates\AutoMatchRequestNotification.txt" />
  <add key="SendNotificationEmail" value="false" />
  <add key="LinkBackURL" value="http://pfort6/plnet/product.aspx?plpid="/>
  <add key="SMTPServer" value="psexch04"/>
  <add key="logFilePath" value="C:\automatch\log\"/>
  <add key="errorLogFilePath" value="C:\automatch\log\"/>
  <add key="CONNECTION_TIMEOUT" value="15000"/>
  <add key="CONNECTION_TIMEOUT_1" value="15000"/>
  <add key="InstantPriceUpdateQueueV5" value="FORMATNAME:PRIVATE=5f6ef143-b31d-40d5-8b70-108671670192\00000011" />
  <add key="IPUThresholdMinutes" value="60" />
  <add key="AutoStartPollQueueDelaySeconds" value="-1"/>
  <add key="ShutdownForRefreshTime" value="4:10 pm"/>
  <add key="ShutdownForRefreshEnabled" value="False"/>
  <add key="CriticalErrorEmailAddress" value="data-ops@pricespider.com" />
  <add key="WebMasterEmailAddress" value="data-ops@pricespider.com" />
  <add key="webserverid" value="bdeleon" />
  <add key="debugPath" value="C:\Automatch\log\debug\"/>
</appSettings>