<?xml version="1.0"?>
<configuration>
    <connectionStrings configSource="connectionStrings.bdeleon.config"></connectionStrings>
    <appSettings configSource="appSettings.bdeleon.config"></appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPriceSpiderWCFService"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://data2.pricespider.com/PriceSpiderService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPriceSpiderWCFService" contract="PSService.IPriceSpiderWCFService" name="BasicHttpBinding_IPriceSpiderWCFService"/>
    </client>
  </system.serviceModel>-->
</configuration>
