<?xml version="1.0"?>
<configuration>
  <connectionStrings>

    <add name="Avalon" connectionString="Data Source=PSSQLNode03.pricespy.com\PSSQL09a;User ID=processDev;Password=i25j%zm53c*r;database=avalon;Connection Reset=false;" providerName="System.Data.SqlClient" />

  </connectionStrings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
  
</configuration>
